header{
    text-align: center;
    font: 90px fantasy;
    color: #3699cc; }
form{
    width:auto;
    display: block;
    border:4% #ee00ee solid;
    font:x-large Calibri;
    background-color:#ffbbc0;
    text-align: center;
    margin: 2%,auto;
    padding: 50px 100px 100px 50px;}
p{
    font: x-large oblique;}
input[type="button"]{
    background-color:#66b3ff;
    width:50%;
    border-radius: 10px;}
a{
    display: inline-block;
    margin:1%;
    width:auto;
    padding: 14px 25px;
    text-align: center;
    background-color: #addadd;
    text-decoration: none;}
a:hover,input[type="button"]:hover{
font-size: large;
background-color:#4db8ff;  }