
#head{
    width:auto;
    margin:3%;
    padding:5%;
    text-align: center;
    border:solid purple 5px;
    font-family:'Lucida Sans';
    font-weight: bold;
    color:darkorchid;
    font-style: oblique;
}
#para{
    width:auto;
    border:solid brown 4px;
    margin:3%;
    padding:3%;
    color: yellowgreen;
    font-family: sans-serif;
}
nav{
    width:auto;
    margin:1%;
    padding:1%;
    border:solid blueviolet 3px;
    font-style: italic;
}
.p2{
    width:auto;
    margin:1%;
    padding:3%;
    border: solid purple 2px;
    display: block;
    font-family: Verdana;
    font-size: x-large;
}

a{display: inline-block;
  margin:1%;width:auto;padding: 14px 25px;
    text-align: center;
    background-color: lightblue;
    text-decoration: none;}
a:hover{
    font-size: large;
    background-color:#4db8ff;  }