#button{
    display: inline-block;
    margin: 25px;
    width: auto;
    padding: 0px 250px;
}
#dropdown {
    display: none;
}
#dropdown a{
    display: block;
    color: #050295;
    text-decoration: none;
    font-size: 30px;
    text-align:center;
}
#button:hover #dropdown{
    display: block;
}
#dropdown a:hover{
    background-color: #cecece;
}