body{
      font-family: "Cormorant Upright";
      font-size: x-large;}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}
li>a:hover{
    color: #007700;
}
li:hover{
    border:2px solid #cfcfcf;
    border-radius: 4px;
}
li:nth-child(odd){display: inline-block;
    margin:2%;
    width:auto;
    padding: 10px 20px;
    text-align: center;
    background-color: #addadd;
}
li:nth-child(even){display: inline-block;
    margin:2%;
    width:auto;
    padding: 10px 20px;
    text-align: center;
    background-color: #ffc0c6;
}
