body{
      font-family: "Cormorant Upright";
      font-size: x-large;}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    padding: 14px 25px;
    text-align: center;
}
li:hover,a:hover{
    background-color:#0000ff;
    color: #ffffff;
}
li{display: inline-block;
    margin:2%;
    width:auto;
    padding: 14px 25px;
    text-align: center;
    background-color: #addadd;
}