div {
    margin: 1%;
    padding: 20px 100px 70px;
    max-height: 500px;
    background: #000000 url('../img/lake.jpeg') no-repeat;
    background-size: cover;
  }

  p {
    background-color: #ffffff;
    font: bold 100px Arial;
    width: auto;
    opacity: 0.6;
    font-family: Kreon;
  }

  nav {
    padding: 0 37%;
  }

  a {
    display: inline-block;
    margin: 1%;
    width: auto;
    padding: 10px 20px;
    text-align: center;
    background-color: #add8e6;
    text-decoration: none;
  }

  a:hover {
    color: #ffffff;
    background-color: #4d00ff;
  }