body{
    margin:5%;
    width: auto;
    padding:20px 50px 0;
    border:4px solid #099000;
}
p{
    margin:auto;
    font-size: 50px;}
img {
    display: none; }
#happy,#sad{
    font-size: 60px;
    font-style: italic;
    color:#0ff0e0;}
span:hover img{
    display: block;
}
p::first-letter{
    color:#8a2be2;
    font-family: Courier;
    font-size: larger;}
a{
    display: inline-block;
    margin:1%;
    width:auto;
    padding: 14px 25px;
    text-align: center;
    background-color: #add8e6;
    text-decoration: none;}
a:hover{
    background-color:#0000ff; }