        body {
            font-family: Aladin;
        }

        table {
            width: 100%;
            text-align: center;
            padding: 10px 90px;
        }

        th {
            background-color: #006600;
            color: #ffffff;
            padding: 10px;
        }

        caption {
            text-align: center;
            font-weight: bold;
            font-size: x-large;
        }

        tr:nth-child(odd) {
            background-color: #d0d0d0;
        }

        tr:hover {
            background-color: #a0a0a0;
            color: #ffffff;
        }

        td {
            padding: 10px;
            font-size: larger;
        }

        nav {
            margin: 1%;
            padding: 0 37%;
        }

        a {
            display: inline-block;
            margin: 1%;
            width: auto;
            padding: 14px 25px;
            text-align: center;
            background-color: #add8e6;
            text-decoration: none;
        }

        a:hover {
            font-size: large;
            background-color: #4db8ff;
        }