body {
    margin:2%;
    padding: 0 70px;
    width:auto;
}
li {
    margin: 10px;
    padding: 10px;
    background-color: #00bfff;
}

#pages {
    font-family: Bellota;
    display: block-inline;
    padding: 1%;
    margin: 10px 20px;
}
li:hover {
    opacity:0.4;
}

li>a:hover {
    background-color: #ffc0c6;

}

li, a {
    font-size: xx-large;
    text-decoration: none;
    color:#ffffff;
    display: inline-block;
}

input[type=search] {
    width: 25%;
    padding: 25px 20px;
    margin: 20px 0;
    height: 40px;
    display: inline-block;
    border: 1px solid #858585;
    border-radius: 4px;
}
nav>a {
    padding:0 10px;
    background-color: #000000;
}
a[target="_blank"]:hover {
    background-color: #008000;
}