body {
    margin: 2%;
    max-width: 100%;
}
h1 {
    text-align: center;
}

form {
    display: block;
    border: 2px solid #00aa00;
    font-size: large;
    font-style: oblique;
    font-family: Verdana;
    height: 500px;
    overflow: scroll;
    line-height: 300%
}

.style1, textarea {
    display: block;
}

a {
    text-decoration: none;
    padding: 14px 25px;
    text-align: center;
}

.style2, a {
    display: inline-block;
    margin: 1%;
    width: auto;
    padding: 14px 25px;
    text-align: center;
    background-color: #addadd;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    font-size: large;
    background-color: #4db8ff;
}

datalist, input:focus, label:hover {
    border: 2px solid #aa0000
}